.build
.docusaurus
.next
.stylex
build
coverage
lib
flow_modules
node_modules
**/__mocks__/snapshot*
packages/benchmarks/size/fixtures/lotsOfStyles.js
flow-typed
examples/example-storybook/storybook-static
examples/example-cli/src
packages/docs/.source