*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* The @stylex directive is used by the StyleX PostCSS plugin.
 * It will be replaced with generated CSS at build time.
 */
/* @stylex-injection-point */
@stylex;