@layer reset {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #f5f3f7;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #242424;
    }
  }
}

/* StyleX CSS from @stylexjs/unplugin will be appended to this file at build time. */
