@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--font-sans);
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-fd-background);
  }

  a {
    color: inherit;
    text-decoration: inherit;
    touch-action: manipulation;
  }

  /* 
  a:hover,
  a:focus-visible {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  a:has(code) {
    text-decoration: none;
  }
  a code:hover,
  a code:focus-visible {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  } */

  /* Enable syntax highlighting */
  pre code .line span {
    color: light-dark(var(--shiki-light), var(--shiki-dark));
  }

  /* =============================================================================
    Table Styles
    ============================================================================= */

  table th {
    padding-block: 10px;
    padding-inline: 12px;
    text-align: start;
    font-weight: 600;
    color: var(--color-fd-foreground);
    border-bottom: 1px solid var(--color-fd-border);
  }

  table td {
    padding-block: 10px;
    padding-inline: 12px;
    border-bottom: 1px solid var(--color-fd-border);
  }

  table tbody tr:last-child td {
    border-bottom: none;
  }
}
